.view{
padding: 30px;
  text-align: center;
  background: rgba(26, 188, 156, 0.65);
  color: white;
  font-size: 25px;
  border: 5px solid white;
  border-radius: 20px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}